Binaries
Config
Content
DerivedDataCache
Intermediate
Saved
Build

.git
.idea
.vscode
.vsconfig
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.uproject
*.xcodeproj
*.xcworkspace
